<div class="main-page-cont k-flex-center-row">
    <div class="todo-list-cont k-flex-center-column">
        <h3>Your Todo List</h3>
        <div *ngFor="let task of tasksList" class="task-wrapper">
            <p>{{task}}</p>
        </div>
    </div>
    <div class="todo-list-cont k-flex-center-column">
        <h3>Your Todo List</h3>
        <div *ngFor="let task of tasksList" class="task-wrapper">
            <p>{{task}}</p>
        </div>
    </div>
    <div class="todo-list-cont k-flex-center-column">
        <h3>Your Todo List</h3>
        <div *ngFor="let task of tasksList" class="task-wrapper">
            <p>{{task}}</p>
        </div>
    </div>
</div>