.task-options-cont {
    height: 400px;
    width: 500px;
    background-color: rgba($color: #e2e0e0, $alpha: 0.8);
    border-radius: 3px;
    padding: 10px;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
}